<!DOCTYPE html>
<html lang="en">
<head>
	<title>Add Student</title>
	<meta charset="UTF-8">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='images/icons/favicon.ico') }}">
	<!-- <link rel="icon" type="image/png" href="./images/icons/favicon.ico"/> -->
<!--===============================================================================================-->
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='vendor/bootstrap/css/bootstrap.min.css') }}">
	<!-- <link rel="stylesheet" type="text/css" href="./vendor/bootstrap/css/bootstrap.min.css"> -->
<!--===============================================================================================-->
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='fonts/font-awesome-4.7.0/css/font-awesome.min.css') }}">
	<!-- <link rel="stylesheet" type="text/css" href="./fonts/font-awesome-4.7.0/css/font-awesome.min.css"> -->
<!--===============================================================================================-->
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='fonts/iconic/css/material-design-iconic-font.min.css') }}">
	<!-- <link rel="stylesheet" type="text/css" href="./fonts/iconic/css/material-design-iconic-font.min.css"> -->
<!--===============================================================================================-->
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='vendor/animate/animate.css') }}">
	<!-- <link rel="stylesheet" type="text/css" href="./vendor/animate/animate.css"> -->
<!--===============================================================================================-->
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='vendor/css-hamburgers/hamburgers.min.css') }}">
<!-- 	<link rel="stylesheet" type="text/css" href="./vendor/css-hamburgers/hamburgers.min.css"> -->
<!--===============================================================================================-->
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='vendor/animsition/css/animsition.min.css') }}">
<!-- 	<link rel="stylesheet" type="text/css" href="./vendor/animsition/css/animsition.min.css"> -->
<!--===============================================================================================-->
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='vendor/select2/select2.min.css') }}">
	<!-- <link rel="stylesheet" type="text/css" href="./vendor/select2/select2.min.css"> -->
<!--===============================================================================================-->
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='vendor/daterangepicker/daterangepicker.css') }}">
<!-- 	<link rel="stylesheet" type="text/css" href="./vendor/daterangepicker/daterangepicker.css"> -->
<!--===============================================================================================-->
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/util.css') }}">
	<!-- <link rel="stylesheet" type="text/css" href="./css/util.css"> -->
	<!-- <link rel="stylesheet" type="text/css" href="./css/main.css"> -->
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/main.css') }}">

<!--===============================================================================================-->
</head>
<body>


	<div class="container-contact100">
		<div class="wrap-contact100">
			<form class="contact100-form validate-form">
				<span class="contact100-form-title">
					New Student
				</span>

				<label class="label-input100" for="first-name">Student Name *</label>
				<div class="wrap-input100 rs1 validate-input">
					<input id="first_name" class="input100" type="text" name="first-name" placeholder="First name">
					<span class="focus-input100"></span>
				</div>
				<div class="wrap-input100 rs1 validate-input">
					<input id="last_name" class="input100" type="text" name="last-name" placeholder="Last name">
					<span class="focus-input100"></span>
				</div>

				<label class="label-input100">Student ID</label>
				<div class="wrap-input100 validate-input">
					<input id="student_id" class="input100" type="text" name="email" placeholder="Eg. 185185185">
					<span class="focus-input100"></span>
				</div>

				<div class="container-contact100-form-btn">
					<input type="button" class="contact100-form-btn" id="submitBtn" value="Check Student">
				</div>
				<div class="container-contact100-form-btn">
					<input type="button" class="contact50-form-btn" id="resolveBtn" value="Resolve">
				</div>
			</form>
			<h1 id="result" class="label-input100"></h1>
			<h1 id="school" class="label-input100"></h1>
			<h3 id="signature" class="label-input100"></h1>
		</div>
	</div>



<!--===============================================================================================-->
<script href="{{ url_for('static', filename='vendor/jquery/jquery-3.2.1.min.js') }}"></script>
	<!-- <script src="vendor/jquery/jquery-3.2.1.min.js"></script> -->
<!--===============================================================================================-->
<script href="{{ url_for('static', filename='vendor/animsition/js/animsition.min.js') }}"></script>
	<!-- <script src="vendor/animsition/js/animsition.min.js"></script> -->
<!--===============================================================================================-->
<script href="{{ url_for('static', filename='vendor/bootstrap/js/popper.js') }}"></script>
	<!-- <script src="vendor/bootstrap/js/popper.js"></script> -->
	<script href="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.min.js') }}"></script>
	<!-- <script src="vendor/bootstrap/js/bootstrap.min.js"></script> -->
<!--===============================================================================================-->
<script href="{{ url_for('static', filename='vendor/select2/select2.min.js') }}"></script>
	<!-- <script src="vendor/select2/select2.min.js"></script> -->
<!--===============================================================================================-->
<script href="{{ url_for('static', filename='vendor/daterangepicker/moment.min.js') }}"></script>
	<!-- <script src="vendor/daterangepicker/moment.min.js"></script> -->
	<script href="{{ url_for('static', filename='vendor/daterangepicker/daterangepicker.js') }}"></script>
	<!-- <script src="vendor/daterangepicker/daterangepicker.js"></script> -->
<!--===============================================================================================-->
<script href="{{ url_for('static', filename='vendor/countdowntime/countdowntime.js') }}"></script>
<!-- 	<script src="vendor/countdowntime/countdowntime.js"></script> -->
<!--===============================================================================================-->
<script href="{{ url_for('static', filename='js/main.js') }}"></script>


<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-23581568-13');

$(function() {
$('#submitBtn').click(function() {
	values = {
		"first_name" : $("#first_name").val(),
		"last_name" : $("#last_name").val(),
		"student_id" : $("#student_id").val()
	}
	var xhttp = new XMLHttpRequest();
	xhttp.open("POST", "/verify", true);
	xhttp.setRequestHeader("Content-type", "application/json");
	xhttp.onreadystatechange = function() {//Call a function when the state changes.
	    if(xhttp.status == 200) {
	        // Request finished. Do processing here.
	        var obj = JSON.parse(xhttp.responseText);
	        if (obj['result']) {
	        	$("#result").text('Confirmed ' + values['first_name'] + " is a student!");
	        	$("#school").text('Student school: ' + obj['school']);
	        	$("#signature").text('Block signature: ' + obj['signature']);
	        } else {
	        	$("#result").text('Could not confirm ' + values['first_name'] + " is a student.");
	        	$("#school").text("");
	        	$("#signature").text("");
	        }
	    }
	}
	xhttp.send(JSON.stringify(values));
	$('#first_name').val('');
	$('#last_name').val('');
	$('#student_id').val('');
	// xhttp.send("first_name=" + values["first_name"] + "&last_name=" + 
	// 			values["last_name"] + "&student_id=" + values["student_id"]
	// 			+ "&date_enrolled_through=" + values["date_enrolled_through"]);
});
});

$(function() {
$('#resolveBtn').click(function() {
	var xhttp = new XMLHttpRequest();
	xhttp.open("GET", "/nodes/resolve", true);
	xhttp.send();
});
});

</script>

</body>
</html>
